<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChoriFest</title>
    <link rel="stylesheet" href="/Paginas/css/style.css">
</head>
<body style="background-color: rgb(0, 208, 255);">
    <nav>
        <div>
           <a href="index.html">Home</a>
        </div>
        
       
        <h1 class="text-center display-4 font-weight-bold font-italic" style="margin-left: 400px;margin-top: 40px ;" >CHORI FEST</h1>
        <h2 class="text-center display-4" style="margin-left: 350px;margin-top: 40px; ">Registrate y Participa</h2>
        
    </nav>

   
        
         <div class="form" style="margin-top: 40px; margin-left: 300px">
            <form action="GET">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre_completo">Nombre Completo: </label><input type="text" name="nombre_completo">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Correo Electronico: </label><input type="email" name="email" style="margin-top: 20px;">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="inputPassword6">Contraseña</label>
                        <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" style="margin-top: 20px;">
                        <small id="passwordHelpInline" class="text-muted">
                        Must be 8-20 characters long.
                        </small>
                    </div>

                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="celular">Celular: </label><input type="number" name="celular" style="margin-top: 20px;">
                    </div>
                </div>
                
                <fieldset class="form-group row" style="margin-top: 20px; margin-right: 500px;  ">
                    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Elija el tipo de Choripan de su preferencia</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                VEGANO 
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                DE CARNE
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                                CELIACO
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group row" style="margin-right: 500px;margin-top: 20px;  ">
                    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Elija su Rol en el evento</legend>
                    <div class="col-sm-10">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option">
                            <label class="form-check-label" for="gridRadios4">
                               PARRILLERO
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                            <label class="form-check-label" for="gridRadios5">
                               ACOMODADOR
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="option6">
                            <label class="form-check-label" for="gridRadios6">
                                LIMPIEZA
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="option7">
                            <label class="form-check-label" for="gridRadios7">
                                COMPRAS
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group row" style="margin-top: 20px; margin-right: 500px;  ">
                    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Elija la forma de pago</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="option8" checked>
                            <label class="form-check-label" for="gridRadios8">
                                TRANSFERENCIA 
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios9" value="option9">
                            <label class="form-check-label" for="gridRadios9">
                                EFECTIVO
                            </label>
                        </div>

                    </div>
                </fieldset>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-scces" style="margin-top: 20px;margin-left: 200px;">Enviar Formulario</button>
                    </div>
                </div>
                <h1>Gracias por Participar!!!</h1>

            </form>
         </div>
        
        
    