<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro estudiantil</title>
    <link rel="stylesheet" href="/css/style.css">
<!--Importar las librerias-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <section style="background-color: rgb(0, 162, 255);">
    <a href="https://www.facebook.com/" target="_blank">
        <img src="/img/facebook-logo-0.png" alt="facebook logo" width="50" height="50" style="border: 20%;" >
      </a>

      <a href="https://www.instagram.com/" target="_blank">
        <img src="/img/instagram.png" alt="Instagram logo" width="50" height="50">
      </a>

      <a href="https://www.whatsapp.com/" target="_blank">
        <img src="/img/whatsapp.jpeg" alt="whatsapp logo" width="50" height="50">
      </a>

      
  </section>

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content sticky-top">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="navbar-brand" href="#">
                <img src="/img/logo grande.jpg" alt="" width="30px" height="30px" class="d-inline-block align-top" alt="">
                its
              </a>
            </li>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Barra de navegacion desplegable -->
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="inicio.html">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="polo-educativo.html">Polo Educativo</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="vida-estudiantil.html">Vida Estudiantil</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="agenda.html">Agenda</a>
                    </li>

                    <li class="nav-item">
                          <a class="nav-link" href="chorifest.html">Chorifest</a>
                    </li>

                    <li class="nav-item">
                          <a class="nav-link" href="practicas.html">Practicas</a>
                    </li>

                  <!--Dejo comentado no se si va
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Secciones
                        </a>
                    
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="bolsa-de-empleo.html">Bolsa de Trabajo</a></li>
                        <li><a class="dropdown-item" href="agenda.html">Agenda</a></li>
                        <li><a class="dropdown-item" href="#">Departamento de Egresados</a></li>
                        <li><a class="dropdown-item" href="#">Igualdad de genero</a></li>
                        <li><a class="dropdown-item" href="#">Redes</a></li>
                        <li><a class="dropdown-item" href="#">Institucional</a></li>
                        <li><a class="dropdown-item" href="#">Certificados</a></li>
                      </ul>
                    </li>
                  --->
        </div>
        <div class="menu-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                      
          </ul>

          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="text" placeholder="" id = "kword" name="kword aria-label= Search">
            <button class="btn btn-outline-success" type="submit" id="text">Buscar</button>
          </form>

        </div>
      </div>
    </div>
  </nav>
  <br>
    <div id="demo" class="carousel slide" data-ride="carousel"style="margin-top: 5%;">

        <!-- Indicadores -->
         <ul class="carousel-indicators">
             <li data-target="#demo" data-slide-to="0" class="active"></li>
             <li data-target="#demo" data-slide-to="1"></li>
             <li data-target="#demo" data-slide-to="2"></li>
             
         </ul>
 
         <!-- imagenes -->
       <div class="carousel-inner">
            <div class="carousel-item active">
                  <img src="/img/estudiantes.jpg" alt="c1" width="1400" height="500">
            </div>

            <div class="carousel-item">
                <img src="/img/estudiantes2.jpg" alt="C2" width="1100" height="500">
            </div>

            <div class="carousel-item">
                <img src="/img/images.jpeg" alt="c3" width="1100" height="500">
            </div>
       </div>
    </div> 
    <br>
    <section style="margin-top: 5%;"  >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Accusantium eius consequuntur atque. 
        Facere, ipsa? Repellat nemo, adipisci ipsam ipsa porro 
        excepturi similique nesciunt. Deserunt tenetur sequi enim 
        minima modi excepturi?
      </p>
    </section>
    <!--Pongo dentro del footer 2 card. 1 card tiene el form y el 2do card la ubicacion-->
    <footer style="background-color: rgb(0, 195, 255); ">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-center" style="width: 45%; height: 85%;margin-top: 5%; align-items: center; margin-left: 30%">
            <div class="card-body">
      
              <div class="form">
                <h5>Contactanos</h5>
                  <form action="GET">
                      <div class="row"style="margin-top: 4%">

                        <div class="col">
                          
                          <input type="text"class="form-control" name="nombre"placeholder="Nombre">
                        </div>

                        <div class="col">
                            
                            <input type="email" class="form-control" name="email"placeholder="email">
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <textarea name="text-tarea" id="text-tarea" cols="30" rows="3" style="width: 323%; margin-top: 4%;"></textarea>
                        </div>
                      </div>

                      <button type="button" class="btn btn-primary" style="margin-top: 0%;" >Enviar</button>

                    </form>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-sm-6">
          <div class="card text-center"style="width: 45%; height: 85%;margin-top: 5%; align-items: center; margin-heigt: 30%">
            <div class="card-body">
              <h5 style="margin-top: 2%;">Encontranos en</h5>
              <a href="https://villaellibertador.itscordoba.edu.ar/" target="_blank" width="50" height="50" style="margin-top: 5%">
                <img src="/img/ubicacion.png" alt="ubicacion logo" width="50" height="50">
                
              </a>
            </div>
          </div>
        </div>
      </div>
              

      

        
    
    
    
    
    
    </footer> 
</body>
</html>
